/* 图表样式 */
.area {
    fill: #8c564b;
    opacity: 0.7;
}

.bar {
    fill: #8c564b;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: white;
    padding: 5px;
    position: absolute;
    text-align: center;
}